services:
    -
        class: Edalzell\DeadCodeDetector\EloquentTraitHooksUsageProvider
        tags:
            - shipmonk.deadCode.memberUsageProvider
    -
        class: Edalzell\DeadCodeDetector\EloquentScopeAttributeUsageProvider
        tags:
            - shipmonk.deadCode.memberUsageProvider
