includes:
    - base.neon

services:
    -
        class: Edalzell\DeadCodeDetector\EloquentTraitHooksUsageProvider
        tags:
            - shipmonk.deadCode.memberUsageProvider

parameters:
    tmpDir: %currentWorkingDirectory%/build/phpstan-fixtures/without-eloquent-scope-attribute
